
<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                    <p class="navbar-text pull-left">
                        <a href="#/user/{{model.user_Id}}/website/{{model.website_Id}}/page/{{model.page_Id}}/widget">
                            <span class="glyphicon glyphicon-chevron-left "></span>
                        </a>
                    </p>
                    <span class="navbar-brand">Widget Edit</span>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <p class="navbar-text pull-right">
                        <a href ng-click="model.updateWidget(model.widget)">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <form action="/api/upload" id="Upload" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" ng-model="model.widget.name" class="form-control" id="name" placeholder="Name">

                    <label for="Text">Text</label>
                    <input type="text" ng-model="model.widget.text" class="form-control" id="Text"
                           placeholder="Text">

                    <label for="URL">URL</label>
                    <input type="url" ng-model="model.widget.url" class="form-control" id="URL" placeholder="" value="https://youtu.be/uLWLashCXHE">

                    <label for="Width">Width</label>
                    <input type="text" ng-model="model.widget.width" class="form-control" id="Width" placeholder="Width" value="100%">

                    <label for="Upload">Upload</label>

                        <input  name="myFile" type="file" class="form-control"/>
                        <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
                        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
                        <input  name="user_Id" value="{{model.user_Id}}"   style="display: none"/>
                        <input  name="page_Id" value="{{model.page_Id}}"   style="display: none"/>
                        <input  name="website_Id" value="{{model.website_Id}}"   style="display: none"/>


                    <!--<input type="file" class="form-control" id="Upload" placeholder="">-->
                </div>
                <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
                <a class="btn btn-primary btn-block"
                   href="#user/{{model.user_Id}}/website/{{model.website_Id}}/page/{{model.page_Id}}/widget/{{model.widget._id}}/flickr">Search</a>
<!--                <a class="btn btn-primary btn-block"
                   href="#/widget-image">Upload Image</a>-->
                <a class="btn btn-danger  btn-block"
                   href ng-click="model.deleteWidget()">Delete</a>
            </form>
        </div>
    </div>

    <nav class="bg-primary navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <p class="navbar-text pull-right">
                        <a href="#/user/{{model.user_Id}}"><span class="glyphicon glyphicon-user"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
</div>
