
<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                    <p class="navbar-text pull-left">
                        <a href="#/user/{{model.user_Id}}">
                            <span class="glyphicon glyphicon-chevron-left "></span>
                        </a>
                    </p>
                    <span class="navbar-brand pull-left">Choose Widget</span>
                </div>
   <!--             <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">

                </div>-->
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                    <a href ng-click="model.createWidget(model.createHeaderWid)" class="pull-left anchorTag">Header </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                    <p class="pull-left anchorTag">Label</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                    <p class="pull-left anchorTag">HTML</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                    <p class="pull-left anchorTag">Text Input</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                    <p" class="pull-left anchorTag">Link</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                    <p class="pull-left anchorTag">Button</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                    <a href ng-click="model.createWidget(model.createImageWid)" class="pull-left anchorTag">Image</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                    <a href ng-click="model.createWidget(model.createYouTubeWid)" class="pull-left anchorTag">YouTube</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                    <p class="pull-left anchorTag">Data Table</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                    <p class="pull-left anchorTag">Repeater</p>
                </div>
            </div>
        </div>
    </div>

    <nav class="bg-primary navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                </div>
                <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                    <p class="navbar-text pull-right">
                        <a href="#/user/{{model.user_Id}}"><span class="glyphicon glyphicon-user"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
</div>
